@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
:root {
  --main-color: #ff9638;
  --sec-color: #fff;
  --main-font-family: "Kumbh Sans", "PT Serif", "Open Sans", sans-serif;
  --sec-font-family: "Lora", "PT Serif", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--sec-font-family);
}
/* common */
a {
  text-decoration: none;
}

/* top */
.top {
  background-color: var(--main-color);
}
.top .icons li:not(:last-child) {
  margin-right: 20px;
}
.top .login {
  cursor: pointer;
}
.icons-list {
  padding-top: 13px;
}
.landing {
  background-image: url("../img/header3\ \(1\).jpg");
  background-size: cover;
  height: 50vh;
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  z-index: 1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
header {
  width: 100%;
}
.fav {
  text-wrap: nowrap;
}
.navbar-toggler-icon i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.navbar {
  padding: 0 !important;
}
.navbar-collapse {
  z-index: 9999;
}
header .navbar-nav .nav-item {
  font-family: var(--main-font-family);
}
.navbar-nav {
  z-index: 99999999999;
}

header .navbar-nav .nav-item .nav-link {
  padding: 29px 20px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  color: var(--sec-color);
  transition: 0.5s;
}
header .navbar-nav .nav-item .nav-link:hover {
  background-color: rgb(72 72 72 / 50%);
}
header .nav-item > .dropdown-menu {
  top: 78px;
  width: 200px;
  border-radius: 0;
  padding: 0;
  background-color: var(--main-color);
  left: -47px !important;
}
header .dropdown-menu .dropdown-item {
  padding: 11px 1rem;
  color: var(--sec-color);
  transition: 0.5s;
}
header .dropdown-menu .dropdown-item:hover {
  background-color: #000;
}
header .page li {
  padding: 11px 16px;
  transition: 0.5s;
}
header .page li:hover {
  background-color: #000;
}
header .menu-item {
  color: var(--sec-color);
  /* padding: 30px 16px; */
  text-transform: uppercase;
  font-size: 16px;
}
.landing {
  position: relative;
}
header .dropdown-submenu:first-child .dropdown-menu {
  background-color: var(--main-color);
  position: absolute;
  left: 198px;
  top: 20px;
  padding: 0;
  border-radius: 0;
}
.dropdown-submenu:hover .dropdown-menu {
  display: block;
}
header .dropdown-submenu:last-child .dropdown-menu {
  position: absolute;
  background-color: var(--main-color);
  top: 18px;
  left: 198px;
  padding: 0;
  border-radius: 0;
}
.landing-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing-title {
  font-size: 45px;
  font-weight: 700;
}
.landing-crumb {
  margin-top: 20px;
  background-color: #ffffffe0;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
}
.landing-crumb .home {
  color: #444;
}
.landing-crumb i {
  color: #333;
}
.landing-crumb .page-sec {
  color: var(--main-color);

}

/* media Query */
@media screen and (max-width: 991.9px) and (min-width: 768px) {
  header .navbar .container {
    padding: 0;
    margin: 0;
    max-width: 95%;
    margin: auto;
  }
  .navbar-collapse {
    display: block !important;
    flex-basis: 0;
    flex-grow: 0;
  }
  .navbar-collapse > ul {
    display: flex !important;
    flex-direction: row !important;
  }
  .navbar-toggler {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .navbar-toggler i {
    color: #000 !important;
  }
  .navbar-nav {
    background-color: var(--sec-color);
  }
  header .nav-item > .dropdown-menu {
    width: 100%;
    margin-top: 0;
    /* position: absolute; */
  }
  header .navbar-nav .nav-item .nav-link {
    color: #000;
    padding: 20px;
  }
  header .navbar .container {
    max-width: 100%;
    padding: 0;
    margin: auto !important;
    margin: 0;
  }
  .carousel-inner {
    width: 90%;
    text-align: left;
  }
  .carousel-control-prev,
  .carousel-control-next {
    margin: 0 5px;
    width: 25px;
    height: 25px;
    padding: 5px;
  }
  .landing-title {
    font-size: 2rem;
  }
  .landing-desc {
    font-size: 0.8rem;
  }
  .landing {
    height: 100vh;
  }
  .btn-view-recipe {
    font-size: 16px;
  }
}


/* chef */

/* chefs */
.chefs{
  padding: 80px 0;
}
/* .chefs .row {
  display: flex;
  justify-content: space-evenly;
} */
.Card-chef {
  font-family: "Lora", "PT Serif", sans-serif;
  font-weight: lighter;
  margin: 4px;
  flex-basis: 15%;
  transition: box-shadow 0.3s;
}
.Card-chef:hover {
  transform: box-shadow 0.8s;
  -webkit-transform: box-shadow 0.8s;
  -moz-transform: box-shadow 0.8s;
  -ms-transform: box-shadow 0.8s;
  -o-transform: box-shadow 0.8s;
}
.chefs .recipe {
  background-color: var(--main-color);
  color: #ffffff;
  padding: 3px;
  padding-left: 15px;
}
.card-body ul li a {
  color: black;
}
.card-body ul li a:hover {
  color: var(--main-color);
}
.card-body ul li small {
  font-weight: normal;
  line-height: 1;
  color: #777;
}
.card-contact i {
  color: var(--main-color);
  padding-right: 5px;
  /* display: inline-block; */
}
.card-contact a {
  color: black;
  text-decoration: none;
  /* display: inline-block; */
}
.card-contact a:hover {
  color: var(--main-color);
}

.card-contact a small {
  color: #777;
}

.Card-footer {
  position: relative;
  display: table;
  width: 100%;
  padding: 0%;
}
.Card-footer a {
  display: table-cell;
  width: 10%;
  padding: 8px 12px;
  text-align: center;
  background: #f2eded;
  font-size: 18px;
  color: #aaa;
  overflow: hidden;
  text-decoration: none;
}

.Card-footer a:hover {
  background: #aaa;
  color: #f2eded;
  /*background: #aaa;
 color: #f2eded;
 */
  border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
}
.chefs .card-img {
  position: relative;
  overflow: hidden;
}
.hover-button {
  background-color: var(--main-color);
  color: white;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  border-radius: 12px;
  top: -50%;
  left: -50%;
  padding: 8px;
  text-align: center;
  display: inline-block;
  padding: 8px;
  text-align: center;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  cursor: pointer;
}
.card-img:hover .hover-button {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* cursor: pointer; */
}
@media (max-width: 576px) {
  .Card-chef {
    flex-basis: 100%;
  }
  .Card-footer {
    width: 100%;
    position: relative;
    display: table;
  }
  .Card-footer a {
    display: table-cell;
    width: 6%;
    padding: 10px 12px;
    text-align: center;
    background: #f2eded;
    font-size: 18px;
    color: #aaa;
    overflow: hidden;
    text-decoration: none;
  }
}
.heading span {
  color: #934b0b;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}
.heading h3 {
  color: #27272f;
  font-weight: 700;
  font-style: normal;
  line-height: 1.3em;
  margin-top: 8px;
  font-size: 30px;
}
.chefs .sperate {
  width: 70px;
  height: 22px;
  margin-top: 10px !important;
  background: url(../img/separate.png) no-repeat;
}
.chefs .row {
  display: flex;
  justify-content: space-evenly;
}
.Card-chef {
  font-family: "Lora", "PT Serif", sans-serif;
  font-weight: lighter;
  /* margin: 4px; */
  flex-basis: 15%;
  transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  flex-basis: 12rem;
  max-width: 12rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.Card-chef:hover {
  transform: box-shadow 0.8s;
  -webkit-transform: box-shadow 0.8s;
  -moz-transform: box-shadow 0.8s;
  -ms-transform: box-shadow 0.8s;
  -o-transform: box-shadow 0.8s;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
}
.recipe {
  background-color: var(--main-color);
  color: #ffffff;
  padding: 3px;
  padding-left: 15px;
}
.card-body ul li a {
  color: black;
}
.card-body ul li a:hover {
  color: var(--main-color);
}
.card-body ul li small {
  font-weight: normal;
  line-height: 1;
  color: #777;
}

.card-contact i {
  color: var(--main-color);
  padding-right: 5px;
  /* display: inline-block; */
}
.card-contact a {
  color: black;
  text-decoration: none;
  /* font-size: 12px; */
  /* display: inline-block; */
}
.card-contact a:hover {
  color: var(--main-color);
}

.card-contact a small {
  color: #777;
}

.Card-footer {
  position: relative;
  display: table;
  width: 100%;
  padding: 0%;
}
.Card-footer a {
  display: table-cell;
  width: 10%;
  padding: 10px 12px;
  text-align: center;
  background: #f2eded;
  font-size: 1rem;
  color: #aaa;
  overflow: hidden;
  text-decoration: none;
  transition: 0.5s;
}

.Card-footer a:hover {
  background: #aaa;
  color: #f2eded;
}
.card-img {
  position: relative;
  overflow: hidden;
}
.hover-button {
  background-color: var(--main-color);
  color: white;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  border-radius: 12px;
  top: -50%;
  left: -50%;
  padding: 8px;
  text-align: center;
  display: inline-block;
  padding: 8px;
  text-align: center;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.card-img:hover .hover-button {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 576px) {
  .Card-chef {
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem;
  }
  .Card-footer {
    width: 100%;
    position: relative;
    display: table;
  }
  .Card-footer a {
    display: table-cell;
    width: 6%;
    padding: 10px 12px;
    text-align: center;
    background: #f2eded;
    font-size: 1rem;
    color: #aaa;
    overflow: hidden;
    text-decoration: none;
  }
}

.Card-chef,
.Card-footer a {
  box-sizing: border-box;
}

/* start footer */
footer {
  background-color: #363636;
  color: #fff;
  padding: 50px 0;
}
footer ul li a {
  color: #999;
  transition: color ease-in 0.15s;
}

footer ul li a:hover {
  color: #ff9638;
}

.foot-info li .footer-icon {
  font-size: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.foot-head1 h4,
.foot-head2 h4,
.foot-head3 h4,
.foot-head4 h4,
.foot-head5 h4 {
  font-weight: 500;
  font-size: 25px;

  font-family: "Lora", "PT Serif", "sans-serif";
  padding-bottom: 10px;
}

.foot-head1 h4::after {
  content: "";

  width: 80px;
  height: 2px;
  background-color: #ff9638;
  position: absolute;
  top: 100%;
  left: 0%;
}
.foot-head2 h4::after {
  content: "";

  width: 50px;
  height: 2px;
  background-color: #ff9638;
  position: absolute;
  top: 100%;
  left: 0%;
}
.foot-head3 h4::after {
  content: "";

  width: 50px;
  height: 2px;
  background-color: #ff9638;
  position: absolute;
  top: 100%;
  left: 0%;
}

.foot-head4 h4::after {
  content: "";

  width: 85px;
  height: 2px;
  background-color: #ff9638;
  position: absolute;
  top: 98%;
  left: 0%;
}

.foot-head5 h4::after {
  content: "";

  width: 60px;
  height: 2px;
  background-color: #ff9638;
  position: absolute;
  top: 98%;
  left: 0%;
}

.foot-info p {
  color: #fff;
  font-size: 14px;
}
.foot-about-ico {
  margin-right: 10px;
  color: #fff;
  font-size: 17px;
}

.foot-info {
  color: #999;
}

.foot-info-img1 .foot-img1 {
  width: 50px !important;
  height: 50px;
}

.foot-info-img1 .foot-img1 img {
  width: 100%;
  height: 100%;
}
.foot-info-img2 .foot-img2 {
  width: 50px !important;
  height: 50px;
}

.foot-info-img2 .foot-img2 img {
  width: 100%;
  height: 100%;
}
.foot-info h5 {
  font-size: 16px;
  font-weight: 500;
}
.foot-info small {
  font-size: 13px;
}
/* end the footer */

/* start footer */
footer {
  background-color: #363636;
  color: #fff;
  padding: 50px 0;
}
footer ul li a {
  color: #999;
  transition: color ease-in 0.15s;
}

footer ul li a:hover {
  color: #ff9638;
}

.foot-info li .footer-icon {
  font-size: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.foot-head1 h4,
.foot-head2 h4,
.foot-head3 h4,
.foot-head4 h4,
.foot-head5 h4 {
  font-weight: 500;
  font-size: 20px;
  font-family: var(--sec-font-family);
  padding-bottom: 10px;
}

.foot-head1 h4::after {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #ff9638;
  position: absolute;
  top: 100%;
  left: 0%;
}
.foot-head2 h4::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #ff9638;
  position: absolute;
  top: 100%;
  left: 0%;
}
.foot-head3 h4::after {
  content: "";

  width: 50px;
  height: 2px;
  background-color: #ff9638;
  position: absolute;
  top: 100%;
  left: 0%;
}

.foot-head4 h4::after {
  content: "";

  width: 85px;
  height: 2px;
  background-color: #ff9638;
  position: absolute;
  top: 98%;
  left: 0%;
}

.foot-head5 h4::after {
  content: "";

  width: 60px;
  height: 2px;
  background-color: #ff9638;
  position: absolute;
  top: 98%;
  left: 0%;
}

.foot-info p {
  color: #fff;
  font-size: 14px;
}
.foot-about-ico {
  margin-right: 10px;
  color: #fff;
  font-size: 17px;
}

.foot-info {
  color: #999;
}

.foot-info-img1 .foot-img1 {
  width: 50px !important;
  height: 50px;
}

.foot-info-img1 .foot-img1 img {
  width: 100%;
  height: 100%;
}
.foot-info-img2 .foot-img2 {
  width: 50px !important;
  height: 50px;
}

.foot-info-img2 .foot-img2 img {
  width: 100%;
  height: 100%;
}
.foot-info h5 {
  font-size: 16px;
  font-weight: 500;
}
.foot-info small {
  font-size: 13px;
}
/* end Recipes-ngredients */
